body {
    background-color: lightsalmon;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 1024px;
    margin-left: 2%;
    margin-right: 2%;

}

.item1 { grid-area: header; }
.item2 { grid-area: main; }
.item3 { grid-area: aside; }
.item4 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header menu menu header header'
    'main main main main main right'
    'footer footer footer footer footer footer';
  gap: 5px;
  background-color:bisque;
  padding: 10px 0;
}
.grid-container>header{
  padding: 30px;
}
header{
  background-color: cornflowerblue;
  width: 1000px;
  height: 55px;
  display: flex;
  padding: 15px;
}

#logoText
{
position: absolute; 
top: 0px;
margin-left: 3px;
width : 45px;
text-align: center;
}

#logohead{
  list-style:none;
}

.headmenu{
  position: relative;
  left: 50px;
  display:flex;
  width:450px;
  text-align: center;
  font-size: 20px;
  padding: 5px;
  background-color: bisque; 
}

li{
box-sizing: border-box; 
background-color: aqua; 
padding: 5px;
}



