body {
    background-color: lightsalmon;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 1024;
    margin-left: auto;
    margin-right:auto;
    display: grid;
    grid-template-areas:
      "header" 
      "main-content"
      "footer";
      grid-gap: 5px;
      background-color:azure;
      padding: 10px;
    }
    
    header{
      grid-area: header;
      background-color: cornflowerblue;
      width: auto;
      height: 90px;
      padding: 5px;
    }
    
.footer {
  grid-area: footer;
  background-color:chocolate;
  width: auto;
  height: 70px;
}

#main-content {
  grid-area: main-content;
  width:auto;
}

#headerColumn{
  display: grid;
  grid-template-areas:
  "logo logoName links login";
  width:auto;
}

.index-content {
  display: grid;
  width: 1024;
  grid-template-areas:
  "intro aside"
  "headline aside"
  "art1 aside"  
  "footer footer";  
  gap: 5px;
  background-color:bisque;
  padding: 10px 0;
  margin-left: 2%;
  width: auto;
}

.login-content{
  display: grid;
  width: auto;
  grid-template-areas:
  "loginmain"
  "footer";
  gap: 5px;
  background-color:bisque;
  padding: 10px 0;
  margin-left: 0px;
  width: auto;  
}

.loginmain{
grid-area: loginmain;
width:auto;
}

.loginbody{
  display: grid;
  width: auto;
  grid-template-areas:
  "loginhead"
  "loginform"
  "footer";
  gap: 5px;
  background-color:bisque;
  padding: 10px 0;
  margin-left: 0px;
  width: auto;  
}

.logintitle{
  grid-area: loginhead;
  display:block;
  background-color: #8d6bb4;
  margin-left: 10%;
  text-align: center;
  width: 300px;
  height: 70px
}

.loginform{
  grid-area: loginform;
  display: block;
  background-color: #8d6bb4;
  margin-left: 10%;
  width: 600px;
  height: 300px;
}
.intro {
  grid-area: intro;
  background-color:darkslateblue;
  padding: 10px;
  margin-left: 2%;
  width:max-content;
  height:fit-content;
}

.headline {
  grid-area: headline;
  width: 200px;
  background-color: #8d6bb4;
  padding: 10px;
  margin-left: 2%;
  height:fit-content;
}


.article{
  grid-area: art1;
  padding: 5px;
}

#twoColumn{
  grid-template-columns:
  "artLeft artRight";
  grid-gap: 5px;
  background-color:#8d6bb4;
  margin-left: 2%;
  padding: 10px 0;
  width: 900px;
  height: 700px
}

.artLeft{
grid-area: artLeft;
display: block;
background-color:chocolate;
width:auto;
}

.artRight{
  grid-area: artRight;
  display: block;
  background-color: goldenrod;
  width:auto;
  }
#headlineIMG{
  float:none;
}
.aside {
  grid-area: aside;
  background-color:aqua;
  text-align: center;
  width:fit-content;
  height:auto;
}

ul{
  text-align: left;
  font:bold;
}

#logo{
  grid-area: logo;
  padding: 2px;
}

#logoText
{
  grid-area: logoName;
  text-align: center;
  vertical-align: middle;
  width: 50px;
}

#logohead{
  grid-area: links;
  width:1110px;
  height: 100px;
  list-style:none;
}

.headmenu{
  display:flex;
  padding: 2px;
  height:65px;
  width: auto;
  background-color: bisque; 
}

#login{
  grid-area: login;
  box-sizing:border-box;
  background-color:aqua;
  height:90px;
  width: 85px;
  text-align: center;
  padding: 2px;
  text-decoration: none;
}
li{
box-sizing: border-box; 
background-color: aqua; 
padding: 5px;
margin-left: 3%;
}



